.schedule_line{
    display: inline-block;
    width:98%;
    box-shadow: 0px 1px 0px 0px RGBA(0,0,0,0.125);
    border-radius: 5px;
    border:gray solid 1px;
    background-color: RGBA(0,0,0,0.03);
    padding-top: .5%;
    padding-bottom: .5%;
    margin-top: 1%;
}

.project_titles{
    width: 90%;
}
.project_titles>h3{
display:inline-block;
padding-left: 3%;
}

.project_link{
    display: inline-block;
    width:90%;
}
.project_link > h3{
    color:gray;
    font-weight: bold;
    padding-left: 3%;
    font-size: 150%;
    display: inline-block;
}

.project_delete_div{
    display: inline-block;
    float:right;
    padding-right: 2%;
}
.schedule_delete{
    font-size: 200%;

    

}

.administrator{
    float:right;
    padding-right: 2%;
}

.schedule_line >div{
    display: inline-block;
}

#schedule_box{
    /* border: 3px solid black;
    border-radius: 10px; */
    padding: 1%;
    height: 99%;
    width: 98%;
}
#schedule_box > h1{
    text-align: center;
    padding-bottom: 3%;
}

#add_project{
    margin-top: 2%;
    font-size: 125%;
}

.card{
    width: auto;
    height:auto;
    padding:10px;
}

#topbar{
    flex-flow:row-reverse;
}

#user_account{
    float: right;
    position: relative;
    height:70px;
}
#user_account>button{
    margin-top: 0px;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    width:1200px;
    height:650px;
}