#left_box{
    display: inline-block;
    width: 49%;
    float: left;
    border: black solid 2px;
    height: 92vh;
    padding: .5%;
    padding-top: 2%;
    margin-top: 2%;
    margin-left: .5%;
    border-radius: 10px;

}
#right_box{
    display: inline-block;
    width: 49%;
    float: right;
    border: black solid 2px;
    height: 92vh;
    padding: .5%;
    padding-top: 2%;
    margin-top: 2%;
    margin-left: .5%;
    border-radius: 10px;
    align-items: center;
}
#right_box h3{
    display: inline-block;
    width: 33%;
    text-align: center;
}

#relationship{
    display: inline-block;
    width: 7vw;
    margin-left: 1vw;
    padding-left: 0%;
}

.relationship_type{
    display: inline-block;
    margin-left: 1vw;
    width: 7vw;

}

#lag{
    width:10%;
    display: inline-block;
    margin-left: 1.25vw;
}

.lag{
    margin-left: 1.25vw;
    display: inline-block;
    width: 2vw;
}
#activity{
    width:15vw;
    display: inline-block;
}
.rel_activity{
    margin-left: 2.5vw;
    display: inline-block;
    width: 30vw;
    border: 1px black solid;

}

.main_activity_title{
    width: 100%!important;
    left:0%;
}

.main_activity_title>h2{
    width: 100%!important;
}

.sub_activity{
    left:1%;
}
.sub_activity_name{
    width: 65%!important;
}
.sub_activity_sdate{
    width: 20%!important;
}
.sub_activity_edate{
    width: 15%!important;
}
.sub_activity_duration{
    width: 10%!important;
}
.sub_activity_contractor{
    width: 15%!important;
}


