@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
/* Main View Page */
html, body{
    margin:0;
    height: 100%;
}
h1{
    text-align: center;
}


#main_title{
    text-align: center;
    display:block;
}
#upload_button{
    
    float: right;
    display:inline-block;
    width: 45%;
    margin-right:3% ;
}

#upload_button button{
    float: right;
    margin-right: .5vw;
    z-index: 10000;
    position: relative;
}

.submit_button{
    padding-left: 10rem;
}

.filter h2,.filter input{
    display: inline-block
}

#filter_div{
    height: 65px;
    background-color: #f3f7fa!important;
    position: relative;
    top:-65px;
    transition:all .5s;
    z-index: 98
}

#filter_div.filter_active{
    top:0px
}

#main_page{
}

/* -----Styles for Activity Headers----  */
#cell{
    display:block;
    position: relative;
    top: 50px
}
#header{
    top: 100px;
    position: relative;
}

#cell_header{
    display:inline-block;
    width: 48%;
    text-align: center;
    height: 100%;
}

.cell_item{
    display:inline-block;
    border-style: solid;
    padding:.5vw;
    border-radius: .5vw;
    margin-left: .05vw;
    font-size: 1vw;

}

/* -----Style for Date Headers----  */
#cell_dates{

    width: 48%;
    text-align: center;
    overflow-x:auto;
    white-space: nowrap;
    overflow-y: hidden;
    height: 100%;
    float:right;
}



#added_cell{
    display:block;
    width: 100%;
    float: left;
}

/* ---------- Main Activity CSS  ------------*/
.main_activity{
    display:grid;
    padding-bottom: 5px;
}
.main_activity_input{
    text-align: left;
    display: block;
    position: relative;
    left:2%;
    width: 45%;
    float:left;
}
#main_activity_add{
    float:left;
    position: relative;
    left:1vw;
    font-size: 1.2vw;
    color: rgb(128,128,128);
    top: 20px;
    margin-bottom: 250px;

}
#main_activity_add:hover{
    color:	rgb(190,190,190);
    cursor:pointer

}

#main_activity_add:active{
    color:rgb(24,24,24);
}

.main_activity_title{
    width: 1200px;
    position:relative;
    left: 38px;;
 

}
.main_activity_title > h2{
text-align: left;
font-size: 20px;
padding: 5px;
color:white;
background-color: gray;
width:90%;
border-style: solid;
border:black;
border-radius: 5px;
}
.title{
    display: inline-block!important;
    float: left;
    
}

.main_add{
    position: relative;
    font-size: 23px;
    top: 4px;
    left: 5px;
}


input.title{
    width: 90%;
    position:relative;
    height: 32px;
    margin-bottom:8px;
}


.main_delete{
    position: relative;
    font-size: 23px;
    top: 4px;
    left:10px
}


/* ------ Buttons ------*/

.fa-check-square{
    display: inline-block;
    color:#00cc00;
    font-size: 150%;
    text-align: center;
    padding-left:2.5%
}

.fa-check-square:hover{
    color:#66ff66;
    cursor: pointer;
}
.fa-check-square:active{
    color:#006600;
}

.fa-times-circle-o{
    display: inline-block;
    color:#cd5c5c;
    font-size: 150%;
    text-align: center;
    padding-left: .5vw;
    position: relative;

}
.fa-times-circle-o:hover{
    color:#ebbebe;
    cursor: pointer;

}
.fa-times-circle-o:active{
    color:#CC0066;

}

/*-------Sub Activity CSS -----*/

#content_box{
    display: block;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


.sub_activity_add{
    display: block;
    float:left;
    position: relative;
    text-align: left;
    position: relative;
    width:100%;
    color: rgb(128,128,128);
}
.sub_activity_add i{
    font-size: 17px;
}



.activity_left{
text-align: center;
display: block;
position: relative;
width: 1025px;
float:left;
transition:width .5s;

}

.activity_left.collapsed{
    width: 750px;
    text-align:center;
}

.activity_right{
    display: block;
    float: left;
}

.sub{
    display: grid;
    float:left;
    position: relative;
}

.sub h3{
    font-size: 20px;
    margin-bottom: 0px;
}


.sub h5{
    font-size: 15px;
    transition: background-color 500ms;
    padding: 7px;
    margin-bottom: 0px;
}
.sub h5:hover{
    cursor: pointer;
    background-color: lightgray;
    border-radius: 4px;

}

.sub input{
    font-size: 15px;
}

.sub_activity_box{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 1.5%;
}

.sub_activity{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
    box-shadow: 0px 1px 0px 0px grey;

}

.sub_activity_actualized h5, .sub_activity_actualized i{
    opacity: .6;
    pointer-events:none;
}
.sub_activity>h5{
    font-size: 15px;
    margin-bottom: 0px;
    transition: .5s all;
}

.sub_activity>h3{
    font-size: 20px;
    font-weight:500;
    margin-bottom: 0px;
}

.sub_name.collapsed,.sub_name_title.collapsed{
    width:75%;
}

.sub_changed{
    background-color: rgb(240, 240, 240);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.sub_name,.sub_date,.sub_duration,.sub_contractor{
    height:20px
}
.sub_date,.sub_duration,.sub_contractor{
    text-align: center;
    
}
.sub_id,.sub_id_title{
    display: none;
}
.sub_name,.sub_name_title{
    width: 50%;
    text-align: left;
    transition: .5s width;
    margin:calc()

}
.sub_date,.sub_date_title{
    width: 230px;
    margin:0px calc(20% - 230px);
    transition: .5s width;
    transition: 2s background-color;

}

.sub_duration,.sub_duration_title{
    width: 60px;
    margin:0px calc(9% - 60px);
}

.sub_contractor,.sub_contractor_title{
width:15%;

}
.delete_icon,.sub_delete_title{
    width:1.5%;
}

.sub_actualized,.sub_actualized_title{
    width: 3%;
}

h5.sub_name:hover,h5.sub_date:hover,h5.sub_duration:hover,h5.sub_contractor:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

/* .delete_sub_icon{
    display:block;
    position: relative;
    left: 20px;
    height: 32px;
    font-size: 15px;
} */

/* .add_sub_icon{
    display:block;
    position: relative;
    top: 10px;
    height: 32px;
    font-size: 15px;
} */
.cell_dates{
    position: relative;
    display: flex;
}
.cell_days{
    position: relative;
    display: flex;
}
.collapsable_button{
    width: 1%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.date, .day{
    /* border-style: solid;
    border-width: 0px 1px 0px 1px; */
    box-shadow: 1px 0px 0px 0px gray;
    font-size:12px!important;
    margin-bottom: auto;
    height: 16px;
    width:75px;
    text-align: center;
    }


    

.date_box{
    display:inline-block;
    /* border-style: solid;
    border-width: 1px; */
    /* padding:10px; */
    box-shadow: 1px 0px 1px 0px gray;
    margin: 11px 0px;
    font-size:small;
    position: relative;
    width:75px;
    height: 16px;
    -webkit-transition:all .2s ease-in;
    transition: all .2s ease-in ;


}

.schedule{
    border: rgb(97, 163, 97) solid;
    background-color: rgb(97, 163, 97);
}

.schedule_start{
    border-radius: 15px 0px 0px 15px;
}
.schedule_single{
    border-radius: 15px 15px 15px 15px;
}
.schedule_end{
    border-radius: 0px 15px 15px 0px;
}

.weekend{
    background-color: rgb(211,211,211);
    pointer-events: none;
 
}

.holiday{
    background-color: rgb(170, 170, 170);
}

.holiday:hover{
    opacity: .5;
}

.sub_bdate{
height: 32px;
display: flex;
align-items: center;
box-shadow: 0px 1px 0px 0px gray;

}

.bdate_actualized>.schedule, .bdate_actualized>.schedule_start, .bdate_actual_end{
    background-color: rgb(54, 98, 54);
    border-color:rgb(54, 98, 54);
}

.sub_activity_bdate{
    white-space: nowrap;
    position: relative;
    bottom: 29px;
}

.sub_titles{
    display: flex;
    height: 60px;
    flex-flow: column;
    justify-content: end;
    box-shadow: 0px 1px 0px 0px gray;
    
}


/*  Add Sub Activity HTML CSS */


#activity_title {
    display:block;
    width:100%;
    text-align: center;
    padding-bottom: 5%;
}
#activity_title> input{
    width:90%;
}
.box{
    width:max-content;
    border: black 1px solid;
    border-radius: 5px;
    padding:2%;
    background-color:#7285C9;

}
.box_title{
    display: block;
    text-align: center;
    margin-bottom: 2%;
}
#main_id{
    display: none;
}
#start_date_box{
    display:inline-block;
    padding-left: 5%;
    width:35%;
    text-align: center;

}
#start_date_box> input{
    width:95%;
}
#end_date_box{
    display:inline-block;
    padding-left: 5%;
    width:35%;
    text-align: center;
}
#end_date_box> input{
    width:95%;
}
#duration_box{
    display:inline-block;
    width:20%;
    text-align: center;
}
#duration_box>input{
    width:30%;
}

.party_involved_box{
    padding-top: 5%;
    display:inline-block;
    padding-left: 5%;
    width:45%;
    position:relative;
    top:-21vh;
}


#relationship_div{
    background-color: white;
    display: block;
    width:120%;
    border: black 1px solid;
    border-radius: 5px;
    padding:1%;
    height:20vh;
    margin-bottom: 5%;
}

#buttons_box{
    text-align: center;
}




/* Styles for Adding Project Box*/
#add_project_input{
    width:98%;
}
#user_titles h6{
        width: 24%;
}
.user_admin{
    margin-bottom: 2%;
}
#add_project{
    margin-bottom: 3%;
}
.user_admin_input{
    margin-bottom: 2%;
}
.admin_input{
    width: 23%;
}
.user_admin h7{
    width: 24%;
    display: inline-block;
}

#box h3{
    font-size: 125%;

}

/*Relationships*/

#main_relationship{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
#relationship_top{
    display: block;
    width: 100%;
    box-shadow:black 0px .2px 0px 0px ;
}
#relationship_title{
    float: left;
}

#relationship_bottom{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#relationship_bottom>div{
    width:48%;
    box-shadow:black 0.2px 0px 0px 0px ;
    display: flex;
    flex-flow: column;

}
#relationship_bottom:first-child{
    box-shadow:black 0.2px 0px 0px 0px ;
}
#relationship_bottom h4{
    position: relative;
    left: -42%;
    top: -2%;
}


#relationship_input{
    width:80%;
    float: left;
}

#relationship_button{
    position: fixed;
    top: 100%;
    margin-top: -60px;
    background-color: white;
    color: black;
    opacity: 10%;
    left: 46.5%;
  }
  #relationship_button:hover{
    opacity:100%
  }

.relationship{
    position: fixed;
    justify-content: center;
    display: flex;
    padding: 15px;
    width: 100%;
    background-color: #f8f9fa!important;
    top: 100%;
    left:0%;
    transition:all 0.3s;
    flex-direction:column;
    row-gap: 20px;
    opacity: 1;

}
.relationship:hover{
    opacity:1

}

.rel_area{
    display: flex;
    flex-flow: column;
    max-height: 200px;
    overflow-y: scroll;
    align-items: center;
    row-gap: 5px;

}
.rel_change>*{
    box-shadow: 0px 0px 4px 0px gray;
    font-weight: bolder;

}
.rel_row{
    display: flex;
    flex-flow: row;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.rel_row
.rel_left{
    /* display: flex;
    flex-flow: column; */
    width: 70%!important;
    /* row-gap: 5px; */
}
input.rel_left{
    height: 22px;
    font-size: 12px;
    border: 1px solid #ced4da ;
    border-radius: 0.25rem;

}
.rel_left{
    text-align: left;
}

.rel_mid{
    width: 15%;
    font-size: 12px;
}
select.rel_mid{
    border: 1px solid #ced4da ;
    border-radius: 0.25rem;
    height: 22px;
    text-align: center;
}
.rel_right{
    width: 4%;
}
input.rel_right{
    border: 1px solid #ced4da ;
    border-radius: 0.25rem;
    height: 22px;
    font-size: 12px;
    text-align: center;

}
.rel_delete_undo{
    display: block;
    width:16px
}
.rel_delete{
    pointer-events: none;
    opacity: .6;
}
.rel_title{
    font-size: 15px;
}

.pre_suc{
    margin-top: 10px;
}




/* Response Tablet */




/* Responive Phone */



/*-------Project - personel CSS -----*/

.card{
    width: 18rem;
    height: 25rem;
}

.col-sm-2{
    display: inline-block;
    margin-left: 3%;
    margin-bottom: 2%;
}

/*-------sidebar CSS -----*/

/*-------search bar CSS -----*/

.navbar-brand{
    padding-left: 3%
}


/*--------Print----------*/

.PDF .colapsable_button,.PDF .clickable, .PDF input,.PDF  button,.PDF  .website_button,.PDF #main_relationship{
    display: none !important;
}

.PDF{
    width: 11in!important;
    height: 8.5in!important;
    border: 1px solid black
}


.PDF .main_activity_title{
    width: 11in!important;
    left: 0px!important;;
    position:relative;
    left: 38px;;
 

}
.PDF .main_activity_title > h2{
text-align: left;
font-size: 6px;
padding: 2px!important;
color:white!important;
background-color: gray!important;
width:30%!important;
border-style: solid;
border:black!important;
border-radius: 5px;
}
.PDF h2.title{
    display: inline-block!important;
    float: left;
}

    
/*-----Sub Activity-----*/

.PDF .sub_activity_box{
    display: flex!important;
    flex-direction: row;
    position: relative;
    width: 11in!important;
}
.PDF .activity_left{
    text-align: center;
    display: block!important;
    position: relative;
    width: 30%!important;
    float:left;
    
    }
.PDF .activity_right{
    text-align: center;
    display: block!important;
    position: relative;
    width: 65%!important;
    float:left;
    }
.PDF .sub_activity{
    display: flex!important;
    flex-direction: row;
    align-items: center;
    height: 10px;
    box-shadow: 0px 1px 0px 0px grey!important;

}
.PDF .sub_activity>h5{
    font-size: 5px;
    margin-bottom: 0px;
}

.PDF .sub_activity>h3{
    font-size: 5px;
    font-weight:500;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.PDF .sub_name,.PDF .sub_date,.PDF .sub_duration,.PDF .sub_contractor{
    height:1vw!important
}
.PDF .sub_date,.PDF .sub_duration,.PDF .sub_contractor{
    text-align: center;
    
}
.PDF .sub_id,.PDF .sub_id_title{
    display: none;
}
.PDF .sub_name,.PDF .sub_name_title{
    width: 50%;
    text-align: left;

}
.PDF .sub_date,.PDF .sub_date_title{
    width: 20%;
    margin:0px 0px;
    transition: .5s width;
    transition: 2s background-color;

}

.PDF .sub_duration,.PDF .sub_duration_title{
    width: 10%;
    margin:0px 0px
}

.PDF .sub_contractor,.PDF .sub_contractor_title{
width:10%;

}

  /*------Schedule ------*/

.PDF .cell_dates{
    position: relative;
    display: flex;
}
.PDF .cell_days{
    position: relative;
    display: flex;
}
.PDF.date,.PDF>.day{
    /* border-style: solid;
    border-width: 0px 1px 0px 1px; */
    box-shadow: 1px 0px 0px 0px gray!important;
    font-size:12px!important;
    margin-bottom: auto;
    height: 16px;
    width:75px;
    text-align: center;
    }


    

.PDF>.date_box{
    display:inline-block!important;
    /* border-style: solid;
    border-width: 1px; */
    /* padding:10px; */
    box-shadow: 1px 0px 1px 0px gray!important;
    margin: 11px 0px!important;
    font-size:small!important;
    position: relative!important;
    width:75px!important;
    height: 16px!important;

}

.PDF>.schedule{
    border: rgb(97, 163, 97) solid!important;
    background-color: rgb(97, 163, 97)!important;
}

.PDF>.schedule_start{
    border-radius: 15px 0px 0px 15px!important;
}
.PDF>.schedule_single{
    border-radius: 15px 15px 15px 15px!important;
}
.PDF>.schedule_end{
    border-radius: 0px 15px 15px 0px!important;
}

.PDF>.weekend{
    background-color: rgb(211,211,211)!important;
 
}

.PDF>.holiday{
    background-color: rgb(170, 170, 170)!important;
}
.PDF>.sub_bdate{
height: 32px!important;
display: flex!important;
align-items: center!important;
box-shadow: 0px 1px 0px 0px gray!important;

}

.PDF>.sub_activity_bdate{
    white-space: nowrap!important;
    position: relative!important;
    bottom: 29px!important;
}

.PDF>.sub_titles{
    display: flex!important;
    height: 60px!important;
    flex-flow: column!important;
    justify-content: end!important;
    box-shadow: 0px 1px 0px 0px gray!important;
    
}