@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
/* Main View Page */
html, body{
    margin:0;
    height: 100%;
}
#main_title{
    text-align: center;
    display:block;
}
#upload_button{
    
    float: right;
    display:block;
    padding-left: 85%;
}

.submit_button{
    padding-left: 10rem;
}

/* -----Styles for Activity Headers----  */
#cell{
    display:block;
}

#cell_header{
    display:inline-block;
    width: 48%;
    text-align: center;
    height: 100%;
}

.cell_item{
    display:inline-block;
    border-style: solid;
    padding:.5vw;
    border-radius: .5vw;
    margin-left: .05vw;
    font-size: 1vw;

}

/* -----Style for Date Headers----  */
#cell_dates{

    width: 48%;
    text-align: center;
    overflow-x:auto;
    white-space: nowrap;
    overflow-y: hidden;
    height: 100%;
    float:right;
}


.date{
display:inline-block;
border-style: solid;
padding:.5vw;
font-size:small;
margin:-.1vw;
border-radius: 10px;
position:-webkit-sticky;
position: sticky;
overflow-x: auto;
}

#added_cell{
    display: block;
    width: 100%
}
.main_activity_input{
    text-align: left;
    display: block;
    position: relative;
    left:2%;
    width: 80%;
    float:left;
}
#main_activity_add{
    float:left;
    position: relative;
    left:1vw;
    font-size: 150%;
    color: rgb(128,128,128);

}
#main_activity_add:hover{
    color:	rgb(190,190,190);
    cursor:pointer

}

#main_activity_add:active{
    color:rgb(24,24,24);
}

.fa-check-square{
    color:#00cc00;
    font-size: 150%;
    text-align: center;
}

.fa-check-square:hover{
    color:#66ff66;
    cursor: pointer;
}
.fa-check-square:active{
    color:#006600;
}

.fa-times-circle-o{
    color:#cd5c5c;
    font-size: 150%;
    text-align: center;
    padding-left: .5vw;
    position: relative;

}
.fa-times-circle-o:hover{
    color:#ebbebe;
    cursor: pointer;

}
.fa-times-circle-o:active{
    color:#CC0066;

}




.sub_activity_add{
    display: block;
    float:left;
    position: relative;
    left:1vw;
    font-size: 150%;
    color: rgb(128,128,128);
    text-align: left;
    position: relative;
    left:6%;
    width:100%;
    font-size: 120%;
    color: rgb(128,128,128);
}
.sub_activity{
text-align: left;
display: block;
position: relative;
left:6%;
width: 94%;
float:left;
position:relative;
top:2vh;
}
/* Response Tablet */




/* Responive Phone */